{% extends 'base.html.twig' %}

{% block title %}Mis Reservas{% endblock %}

{% block principal %}
<h2>Mis Reservas</h2>

<div class="container">
    <div class="row">
        {% for habitacio in habitacions %}
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="{{ asset(habitacio.getUrlSubidas()) }}" alt="">
                    <div class="ri-text">
                        <h4>{{ habitacio.nombre }}</h4>
                        <h3>{{ habitacio.preu }}€<span>/Noche</span></h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Tamaño:</td>
                                    <td>{{ habitacio.tamany }}m<sup>2</sup></td>
                                </tr>
                                <tr>
                                    <td class="r-o">Capacidad:</td>
                                    <td>{{ habitacio.capacitat }} Personas Máximo</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Localización:</td>
                                    <td>{{ habitacio.localitzacio }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="{{ path('app_habitacio_cancelar', {'id': habitacio.id}) }}" class="primary-btn">Cancelar  Reserva</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No tienes habitaciones registradas.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
