{% extends 'base.html.twig' %}

{% block title %}Habitacions{% endblock %}

{% block principal %}
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                </div>
                <th><a href="{{ path("app_habitacio_index_ordenat", {ordenacion: 'nombre'}) }}" style="color:black; margin-right: 1em" class="primary-btn">Nombre</a></th>
                <th><a href="{{ path("app_habitacio_index_ordenat", {ordenacion: 'localitzacio'}) }}" style="color:black; margin-right: 1em" class="primary-btn">Localización</a></th>
                <th><a href="{{ path("app_habitacio_index_ordenat", {ordenacion: 'capacitat'}) }}" style="color:black; margin-right: 1em" class="primary-btn">Capacidad</a></th>
                <th><a href="{{ path("app_habitacio_index_ordenat", {ordenacion: 'preu'}) }}" style="color:black;" class="primary-btn">Precio</a></th>
                </br>
                <form action="{{ path('app_habitacio_index_busqueda') }}" method="post" class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" name="busqueda" id="busqueda" class="form-control" placeholder="Buscar habitación...">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Rooms Section Begin -->
<section class="rooms-section spad">
    <div class="container">
        <div class="row">
        {% for habitacio in habitacios %}
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="{{ asset(habitacio.getUrlSubidas()) }}" alt="">
                        <div class="ri-text">
                            <h4>{{ habitacio.nombre }}</h4>
                            <h3>{{ habitacio.preu }}€<span>/Noche</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Tamaño:</td>
                                        <td>{{ habitacio.tamany }}m<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacidad:</td>
                                        <td>{{ habitacio.capacitat }} Personas Máximo</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Localización:</td>
                                        <td>{{ habitacio.localitzacio }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% if is_granted('IS_AUTHENTICATED') %}
                                <a href="{{ path('app_habitacio_show', {'id': habitacio.id}) }}" style="margin-right: 1em" class="primary-btn">More Details</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_habitacio_edit', {'id': habitacio.id}) }}" style="margin-right: 1em" class="primary-btn">Editar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Rooms Section End -->

{% endblock %}
