{% extends 'base.html.twig' %}

{% block title %}Detallle Habitación{% endblock %}

{% block principal %}
<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="{{ asset(habitacio.getUrlSubidas()) }}" alt="">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>{{ habitacio.nombre }}</h3>
                            <div class="rdt-right">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('app_habitacio_delete_json',{'id':habitacio.id}) }}" class="delete">Borrar</a>
                                {% endif %}
                                {% if habitacio.id_client is null %}
                                    <a href="{{ path('app_habitacio_update',{'id':habitacio.id}) }}">Booking Now</a>
                                {% else %}
                                    <a href="#" disabled>RESERVADO</a>
                                {% endif %}

                            </div>
                        </div>
                        <h2>{{ habitacio.preu }}€<span>/Noche</span></h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Tamaño:</td>
                                    <td>{{ habitacio.tamany }}m<sup>2</sup></td>
                                </tr>
                                <tr>
                                    <td class="r-o">Capacidad:</td>
                                    <td>{{ habitacio.capacitat }} Personas Máximo</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Localización:</td>
                                    <td>{{ habitacio.localitzacio }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details Section End -->

{% endblock %}
